.dark-mode-container {
    background-color: #000; /* Cambiato il colore di sfondo per simularne uno nero */
    color: #00FF00; /* Cambiato il colore del testo in verde luminoso */
    font-family: 'Courier New', monospace; /* Cambiato il font in uno più retrò */
    padding: 20px;
    position: absolute; /* Posizionato in modo assoluto per centrare rispetto alla pagina */
    top: 50%; /* Allineato in alto al 50% della pagina */
    left: 50%; /* Allineato a sinistra al 50% della pagina */
    transform: translate(-50%, -50%); /* Spostato di metà della larghezza e altezza del div */
    width: 80%; /* Larghezza del div */
    max-width: 500px; /* Larghezza massima del div per evitare di allungarsi troppo su schermi grandi */
    border: 2px solid #00FF00; /* Aggiunto un bordo per simularne il contorno */
}

.retro-filter {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.imgur.com/1nvg98z.png'); /* Immagine filtro retro */
    mix-blend-mode: multiply; /* Moltiplica il colore di sfondo con l'immagine */
}

.dark-mode {
    color: #00FF00; /* Cambiato il colore del testo in verde luminoso */
}

.content {
    margin-top: 20px;
    position: relative; /* Per sovrapporre il filtro */
    z-index: 1; /* Per posizionare il contenuto sopra il filtro */
}

.paragraph {
    font-size: 18px;
    line-height: 1.5;
    font-family: Muli;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-family: Muli;
    color: black
}

